include ../index
- let showAllMenu = false;

//- 페이지 제목
- let pageTitle = '페이지 제목';
- let showHeader = true;

//- 컨텐츠 메인 클래스 네임
- let mainClassName = null;

block top
doctype html
html(
  lang="ko"
)
  head
    title 전주시 업무지원시스템 운영관리
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    meta(
      charset="UTF-8"
    )
    link(
      rel="stylesheet"
      href="/admin/css/common.css"
    )
    link(
      rel="stylesheet"
      href="/admin/css/contents_admin.css"
    )
    script(
      type="text/javascript"
      src="/js/index.js"
    )
  body
    .accNav 
      a
    #wrapper
      if showHeader
        <!-- 전체메뉴 -->
        include all_menu.pug
        <!--// 전체메뉴 -->
        <!-- header -->
        #header
          include header.pug
          block header
        <!-- / header -->


      <!-- contents -->
      #contants(
        class=mainClassName
      )
        block content
      <!-- / contents -->


      //- <!-- footer -->
      //- #footer
      //-   include footer.pug
      //- <!-- / footer -->
      
